* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #c4c9cc;
    position: relative;
}

.main {
    width: 100%;
    display: grid;
}

.main__section:nth-child(1) {
    padding-left: 20%;
    padding-top: 5%;
    width: 65%;
}

.main__section:nth-child(1)>h1 {
    font-size: 5.5vw;
    margin-bottom: 5%;
}

.main__section:nth-child(1)>p {
    font-size: 2vw;
    margin-bottom: 5%;
}

.main__section:nth-child(1)>button {
    width: 30%;
    height: 4vw;
    background-color: black;
    color: white;
    border-radius: 50px;
    border: 0;
    font-size: 2vw;
}

.main__section:nth-child(1)>img {
    position: absolute;
    width: 40%;
    top: 0;
    right: 4%;
    z-index: -1;
}

.main__section:nth-child(2) {
    display: grid;
    column-gap: 10%;  

    background-color: rgba(255, 255, 255, 0.2);

    margin-top: 11%;
    margin-left: 30%;
    margin-bottom: 2.5%;
    margin-right: 4%;
    border-radius: 100px;
    padding: 0% 5%;
}

.main__section:nth-child(2)>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__section:nth-child(2)>div>h2 {
    font-size: 2vw;
    margin-bottom: 5%;
}

.main__section:nth-child(2)>div>hr {
    background-color: black;
    height: 2px;
    border: 0;
    width: 18%;
    margin-bottom: 5%;
}

.main__section:nth-child(2)>div>p {
    font-size: 1.5vw;
}

.main__section:nth-child(2)>img {
    position: absolute;
    width: 32.5%;
    bottom: 0;
    left: 4%;
    z-index: -1;
}

@media (orientation: landscape) {
    .main {
        grid-template-rows: 1fr 1fr;
        aspect-ratio: 1440/926;
    }

    .main__section:nth-child(2) {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (orientation: portrait) {
    .main {
        width: 100%;
        display: grid;
    }
    
    .main__section:nth-child(1) {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
        width: 100%;
        text-align: center;
    }
    
    .main__section:nth-child(1)>h1 {
        font-size: 12vw;
    }
    
    .main__section:nth-child(1)>p {
        font-size: 3.6vw;
    }
    
    .main__section:nth-child(1)>button {
        width: 30%;
        height: 8vw;
        font-size: 3vw;
    }
    
    .main__section:nth-child(1)>img {
        width: 70%;
        top: 0%;
        right: 0;
    }
    
    .main__section:nth-child(2) {
        display: grid;
        column-gap: 0;  
    
        background-color: rgba(255, 255, 255, 0.2);
    
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 100px;
        padding: 10% 5%;
    }
    
    .main__section:nth-child(2)>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5%;
    }
    
    .main__section:nth-child(2)>div>h2 {
        font-size: 10vw;
    }
    
    .main__section:nth-child(2)>div>p {
        font-size: 6.75vw;
    }
    
    .main__section:nth-child(2)>img {
        bottom: 0%;
        left: 0;
        width: 70%;
    }
}