* {
    box-sizing: border-box;
    margin: 0;
}

.main {
    background-color: #f2f2f2;

    display: grid;
}

.main__section:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 20%;
}

.main__section:nth-child(1)>h1 {
    text-align: center;
    font-size: 5.5vw;
    margin-bottom: 5%;
}

.main__section:nth-child(1)>p {
    text-align: center;
    font-size: 2.3vw;
    margin-bottom: 5%;
}

.main__section:nth-child(1)>button {
    width: 25%;
    height: 5vw;
    background-color: black;

    border-radius: 50px;
    border: 0;
    margin-bottom: 15%;

    color: white;
    font-size: 2vw;

}

.main__section:nth-child(2) {
    margin: 0 5%;
    margin-bottom: 2.5%;

    background-image: url(../images/images-17/center.png);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1312/526;

    position: relative;
}

.main__section:nth-child(2)>div {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    background-color: white;
    border-radius: 30px;
    padding: 4%;

    position: absolute;
    top: -20%;
}

.main__section:nth-child(2)>div>section {
    width: 20%;
}

.main__section:nth-child(2)>div>section>h1 {
    font-size: 2vw;
    margin-bottom: 5%;
}

.main__section:nth-child(2)>div>section>hr {
    width: 40%;
    height: 4px;
    background-color: black;
    margin-bottom: 5%;
}

.main__section:nth-child(2)>div>section>p {
    font-size: 1.5vw;
}

.main__section:nth-child(3) {
    display: grid;
    column-gap: 3%;

    margin: 0 5%;
}

.main__section:nth-child(3)>div:nth-child(1) {
    background-image: url(../images/images-17/bottom-1.png);
    background-size: cover;
    aspect-ratio: 411/344;
}

.main__section:nth-child(3)>div:nth-child(2) {
    background-image: url(../images/images-17/bottom-2.png);
    background-size: cover;
    aspect-ratio: 411/344;
}

.main__section:nth-child(3)>div:nth-child(3) {
    background-image: url(../images/images-17/bottom-3.png);
    background-size: cover;
    aspect-ratio: 411/344;
}

@media (orientation: landscape) {
    .main__section:nth-child(3) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (orientation: portrait) {
    .main__section:nth-child(3) {
        display: grid;
        gap: 3%;
        grid-template-columns: 1fr 1fr;
    
        margin: 0 5%;
        margin-bottom: 10%;
    }
    
    .main__section:nth-child(3)>div:nth-child(1) {
        background-image: url(../images/images-17/bottom-1.png);
        background-size: cover;
        aspect-ratio: 411/344;
    }
    
    .main__section:nth-child(3)>div:nth-child(2) {
        background-image: url(../images/images-17/bottom-2.png);
        background-size: cover;
        aspect-ratio: 411/344;
    }
    
    .main__section:nth-child(3)>div:nth-child(3) {
        grid-column: span 2;
        background-image: url(../images/images-17/bottom-3.png);
        background-size: cover;
        aspect-ratio: 411/344;
    }
}