* {
    margin: 0;
    text-decoration: none;
    list-style: none;
    white-space: pre-line;
}
head {
    height: 3vw;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main {
    margin-top: 2vw;
    display: flex;
    overflow-y: hidden;
}


.section-1, .section-2 {
    width: 50%;
}

.section-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-2 > div > h1 {
    margin-bottom: 2vw;
    font-size: 4vw;
}
.section-2 > div > p {
    margin-bottom: 2vw;
    font-size: 2.02vw;
}
.section-2 > div > h5 {
    color: #6e6666;
    font-size: 2.1vw;
}
.section-1 {
    display: flex;
    align-items: flex-end;
    width: 50%;
}
.section-1 > img {
    width: 100%;
    height: 101%;
}
button {
    max-width: 100%;
    width: 30%;
    background-color: #000000;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 6%;
    cursor: pointer;
    border-radius: 16px;
    margin-bottom: 2.2vw;
}